<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">
  <display-name>Archetype Created Web Application</display-name>
  <listener>
    <listener-class>
      ua.kiev.prog.MyAppServletContextListener
    </listener-class>
  </listener>
  
  <servlet>
    <servlet-name>AddServler</servlet-name>
    <servlet-class>ua.kiev.prog.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServler</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DelServler</servlet-name>
    <servlet-class>ua.kiev.prog.DelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelServler</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetServlet</servlet-name>
    <servlet-class>ua.kiev.prog.GetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServlet</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>ua.kiev.prog.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
</web-app>
